<% provide(:title, 'All users') %>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">

    <h1>All users</h1>
    <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        <%= gravatar_for user, size: 128   %>
        <% #TODO use block version link_to %>
        <span class="user-link"><%= link_to user.name, user %></span>
      </li>
    <% end %>
    </ul>
    </div>
</div>
