@import 'bootstrap-sprockets';
@import 'bootstrap';
/* mixins */
@mixin box_sizing{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding-top: 70px;
  background: #fff;
}
/*style to botstrap grid system */
$trace_background: #e8e8e8;
$trace_border_color: #c9c9c9;
.helper{
   /*background:$trace_background ;*/
   border:1px solid $trace_border_color;

}
header {
  .navbar-inverse {
  background-color: #222;
  border-color: #f4f4f4;
}
.nav{
  padding-top:5px;
    a{
      color:#fff;
    }
    li > a:hover, .nav > li > a:focus{
        color:#222;
      }
    /* dropdown menu */
    .header-menu_btn{
      height: 40px;
      background: #222;
      color: #fff;
      border: 1px solid #222;
    }
    .dropup, .dropdown{
      float: left;
    }
    .open > .dropdown-menu{
      right: 0px;
      left: auto;
      a{
        color:#222;
      }
    }
  }
  .navbar-inverse {
    background-color: #222;
    border-color: #f4f4f4;
  }


}  
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #f0f0f0;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1,8;
  &:hover{
    color:#725;
    text-decoration: none;
  }
}
/* debug dump */
.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing; 
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
