.micrpopost-container {
  
  h3 {
    background: #eeefff;
    font: 20px/30px normal, Arial, Helvetica, Tahoma, sans-serif;
    color:#333;
    text-align: center;
  }
  .micropost-item {
    padding: 15px 5px;
    font: 18px/20px normal, sans-serif;
    border-bottom: 1px solid #eee;
  }
}
